[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
obj/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vscode/
.idea/
.vs/

# JetBrains Rider
.idea/
*.sln.iml

# OS-spezifisch
.DS_Store
Thumbs.db
